input, button{
	border-radius: 50px;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px 10px  10px  20px; 
	border: 2px solid #dee2e6;  
}

body,html {

	/*background-image:linear-gradient(#347bda,#0058bd);*/
	background-color: blue;
	background-repeat: no-repeat;
	height: 100%
}

h1 { border-right-style: 20px; }
body, html { height: 100%;  }
i{ margin-right: 4px; }




.title{
		text-align: center;
		margin-bottom: 5%;
		margin-top: 5%; 
}

  
.buttonRegister{

		background-color: #5175dc;
		color: white;
		font-weight: bold;
		margin-bottom: 0px;	

	}	


.buttonGoogle{

	background-color: #e8443e;
	color: white;
	font-weight: bold;
}

.buttonFacebook{

 	background-color: #3d5a97;
 	color: white;
 	font-weight: bold;
 	margin-bottom: 0px;
 }


.corCachorro{
	background-color: #f6b02f;
	margin-top: 2%;
	margin-bottom: 2%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}		

.corForm{
	background-color: white;
	margin-top: 2%;
	margin-bottom: 2%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 5%;
	padding-left: 5%;
}


.imgCachorro{

	position: absolute;
	bottom: 0px;
	right: 0px;
}





 