.teste {
	margin-top: 50px;
}

input, button{
	border-radius: 50px;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px 10px  10px  20px; 
	border: 2px solid #dee2e6;  
}

h1 {
	border-right-style: 20px;
}

.title{
		text-align: center;
		margin-bottom: 25px;
		margin-top: 40px; 
}

  
.buttonRegister{

		background-color: #5175dc;
		color: white;
		font-weight: bold;
		margin-bottom: 0px;	

	}	


.buttonGoogle{

	background-color: #e8443e;
	color: white;
	font-weight: bold;

   }

 .buttonFacebook{

 	background-color: #3d5a97;
 	color: white;
 	font-weight: bold;
 	margin-bottom: 0px;
 }

 i{
 	margin-right: 4px; 
 }

 #cachorroImage{
 	padding-top:30%;
 }

.corCachorro{
	background-color: yellow;
}		

.corForm{
	background-color: white;
}


.imgCachorro{
	left: 43px;
	position: absolute;
	top: 12px;
}



 